/* last RUle */
/* p{
    color: red;
}
p{
    color: green;
}
p{
    color: blue;
} */

/* specificity */
/* *{
    color: blue;
}
p{
    color: red;
}
p#intro{
    color: green;
} */
/* important */
/* p{
color: red;
}
p{
    color: green !important;
} */
/* inheritence */
body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    border: 1px solid red;
    padding: 10px;
}
.page {
    border: 1px solid green;
    background-color: #efefef;
    padding: inherit;
}

